*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-image: linear-gradient(260deg, #f45d51 0%, #942246 100%);
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}
/*Main container*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Header*/
header h1{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 3rem;
}
/*Wrapper SVG*/
#wrapper{
    margin: 3rem auto;
    border-radius: 50px ;
    position: relative;
}
svg{
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 5px 10px 10px #1c1c1c;
}
svg .dot:hover{
    fill: rgba(100 ,149 ,237 ,.5) !important
}
#tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1c1c1c;
    transition: all .2s ease ;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
#tooltip::before{
    content: "▼";
    position: absolute;
    bottom: -25px;
    color: white;
}
#tooltip span{
    font-style: italic;
}
#legend{
    font-size: .8rem;
    font-style: italic;
    width: 20%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease ;
}
#legend span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#legend #positive span{
    background-color: #942246;
}
#legend #negative span{
    background-color: #f45d51;
}
/*Footer*/
footer{
    margin: .5rem auto;
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer p a{
    color: aliceblue;
    letter-spacing: .1rem;
}