*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-image: linear-gradient(260deg, #f45d51 0%, #942246 100%);
    padding: 1rem;
    width: 100vw;
    width: 100%;
}
/*Main container*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*Header*/
header h1{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 3rem;
}
header #description{
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: white;
}
/*Wrapper SVG*/
#wrapper{
    margin: 3rem auto;
    border-radius: 50px ;
    position: relative;
}
svg{
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 5px 10px 10px #1c1c1c;
}
svg .tile{
    stroke: white;
    stroke-width: .25px;
}
svg .tile:hover{
    stroke: #1c1c1c;
    stroke-width: 1px;
}
svg .tile + text{
    font-style: italic;
    font-weight: 400;
    font-size: .8rem;
    display: block;
    white-space: nowrap;
}
#tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1c1c1c;
    transition: all .2s ease ;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
#tooltip::before{
    content: "▼";
    position: absolute;
    bottom: -14px;
    color: white;
}
#tooltip span{
    font-style: italic;
}
#legend{
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: .8rem;
    font-style: italic;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1s ease ;
}
#legend svg{
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #1c1c1c;
}
#legend svg rect{
    stroke: #1c1c1c;
}
/*Footer*/
footer{
    margin: 1rem auto .5rem auto;
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer p a{
    color: aliceblue;
    letter-spacing: .1rem;
}